/* Widget Label + Wrapping Style */
.views-exposed-form .views-exposed-widget { float: left; padding: 0 10px 0 0; margin: 0; width: 100%!important; }
.views-exposed-form .views-exposed-widget  label{ color: #008375; margin-bottom: 10px; padding: 0; font-size: 1.23077em !important; background: transparent; }
.views-exposed-form .views-exposed-widget  input[type="checkbox"] + label{ color:black!important; font: 13px/18px "Arial",sans-serif!important;}

/* Cleans up FORM elements */

.views-exposed-form .views-exposed-widget input[type="checkbox"] + label  { display: block; padding-left: 5px; text-indent: -5px; }
.views-exposed-form .views-exposed-widget input { padding: 0; margin:0; vertical-align: bottom; position: relative; top: 1px; *overflow: hidden; }

.page-permits-application-and-license .views-exposed-form .views-exposed-widget .form-submit, .node-type-service .views-exposed-form .views-exposed-widget .form-submit { margin-top: 10px!important; padding: 5px; }
.views-exposed-form .views-exposed-widget label { margin-bottom:5px!important; margin-top: 15px!important; }
input[type="image"]+label, input[type="checkbox"]+label, input[type="radio"]+label { display:inline!important; }

.views-exposed-form .views-exposed-widget .form-item-recherche-search input { height:35px; width:96%; padding-left:10px; }

/* Responsive tweaks */
.ui-checkbox .ui-btn-icon-left .ui-btn-inner, .ui-radio .ui-btn-icon-left .ui-btn-inner { display:inline; }

/* Gray view pane */
.dark-gray { background-color: #DDDDDD!important; border: 1px solid #CACACA; }

/* Top gray view pane */
.dark-gray-top { background-color: #DDDDDD!important; border: 1px solid #CACACA; }
.dark-gray-top h2{ background-color: inherit!important; padding: 0px!important; color: #008375!important; }

/* Item list padding */
.page-serviceottawa #cityott-content ul.servicepane li, .node-type-service ul.servicepane li { padding: 10px 0; }

/* Fix striping on rows */

.page-permits-application-and-license #cityott-content ul.servicepane li:nth-child(even){ background-color: #eee; border-top: 2px solid #e0e0e0; border-bottom: 2px solid #e0e0e0; border-left: 2px solid #e0e0e0; border-right: 2px solid #e0e0e0; }
.page-permits-application-and-license #cityott-content ul.servicepane li:nth-child(odd){ border-left: 2px solid #e0e0e0; border-right: 2px solid #e0e0e0; }
.page-permits-application-and-license #cityott-content ul.servicepane .views-row-first { border-top:2px solid #e0e0e0; }
.page-permits-application-and-license #cityott-content ul.servicepane .views-row-last { border-bottom:2px solid #e0e0e0; }

.page-permits-application-and-license #cityott-content ul.pager  { border-bottom:2px solid #e0e0e0; border-left: 2px solid #e0e0e0; border-right: 2px solid #e0e0e0; margin-right: 3px; margin-right: -4px; }